/* App.css */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  color: #b4eecb;
}

.App {
  text-align: center;
  padding: 20px;
}

.App-header {
  background: #282c34;
  padding: 20px;
  border-radius: 10px;
  color: hwb(52 30% 8%);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
  width: 80%;
  max-width: 600px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  font-size: 1rem;
}

button {
  background-color: hsl(110, 64%, 73%);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #036d0e;
}

h2 {
  font-size: 1.8rem;
  margin-top: 20px;
  text-align: left;
  padding: 20px;
}

p {
  font-size: 1.2rem;
  color: #fcf7f7;
}

.error {
  color: red;
  font-weight: bold;
}
